
@media only screen and (max-width: 1360px) {
    main.blog {
        .blog-image-container {
            top: -15%;
        }
        .blog-text {
            padding-top: 175px;
        }
    }
}

@media only screen and (max-width: 950px) {
    main.blog {
        .blog-image-container {
            top: -10%;
        }
        .blog-text {
            padding-top: 250px;
        }
    }
    aside {
        width: 30%;
    }
    main.blog {
        .blog-content {
            width: 65%;
        }
    } 
}

@media only screen and (max-width: 800px) {
    header.blog {
        .blog-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                display: inline-block;
                text-align: center;
            }
        }
    }   
    main.blog {
        .wrapper {
            flex-direction: column;
        }
        div.blog-content {
            width: 100%;
            padding: 50px;
            padding-top: 0;
            position: static;
        }
        .blog-image-container {
            // position: static;
            top: -100px;
            left: 0;
        }
        .blog-text {
            margin-top: 0;
            padding-top: 75px;
            position: relative;
            top: -100px;
            right: 20px;
        }
        .blog-comments {
            padding-top: 0;
        }
        aside {
            width: 70%;
            margin: 0 auto 50px auto;
            margin-top: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .aside-image-container {
                direction: ltr;
                width: 100%;
                position: static;
            }
            img {
                position: static;
                width: 100%;
            }
        }
        .aside-left, .aside-right {
            padding-top: 25px;
            width: 45%;
        }
        form button {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    header.blog {
        nav {
            height: 58px;
            width: 100%;
        }
        ul {
            width: 100%;
        }
    }
    main.blog {
        .blog-content {
            padding: 50px 30px;
        }
    }
    .blog-comments {
        padding-left: 20px;
        .comment-image-container {
            width: 20%;
        }
        .comment-text-container {
            width: 75%;
        }
    }
    form {
        input[type=text], input[type=email] {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 465px) {
    header.blog .wrapper {
        width: 100%;
        nav {
            justify-content: flex-end;
        }
    }
    main.blog {
        aside {
            width: 85%;
        }
    }
    header.blog {
        .nav-container {
            background-color: transparent;
        }
        i.fas {
            display: block;
            padding: 10px 10px 0 0;
            text-align: right;
        }
        i.fa-times {
            display: none;
        }
        ul { //visually hidden
            position: absolute; 
            width: 1px; 
            height: 1px; 
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(00 0 0);
            overflow: hidden;
        }
    } 
}

@media only screen and (max-width: 400px) {
    main.blog {
        aside {
        width: 90%;
        flex-direction: column;
        div.aside-left, div.aside-right {
            width: 100%;
            
            }
        }   
    }
    p {
        @include font-size(18);
    }
}
