.blog-comments {
    padding: 40px 0 40px 40px;
    h3 {
        @include font-size(32);
        letting-spacing: 1px;
        font-family: $heading-font;
        margin-bottom: 40px;
    }
    .comment-container {
        display: flex;
        &:nth-of-type(2) {
            margin-top: 50px;
        }
    }
    img {
        align-self: flex-start;
        margin: 5px 40px 0 0;
        width: 50%;

    }
    p {
        margin-top: 10px;
        
        &:first-child {
            margin: 0;
            color: $lowlight;
            font-family: $heading-font;
            font-weight: 600;
        }
    }  
}