header.blog {
    height: 60vh;
    background: url(../assets/blog-header-1.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    .nav-container {
        width: 100vw;
        background-color: $dark;
        padding: 5px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    nav {
        margin-top: 0;
    }
    h1 {
        font-family: $heading-font;
        @include font-size(80);
        font-weight: 600;
        line-height: 92px;
        color: $highlight;
        padding: 0;
        margin-bottom: 40px;
    }
    .home a {
        color: white;
        &:hover {
            color: $highlight;
        }
        &:focus {
            color: $highlight;
        } 
    }
    .blog a {
        color: $highlight;
    }
    .blog-wrapper {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
    h2 {
        flex: 0 0 25%;
        padding: 5px 0;
    }
}