button {
    background-color: $button-color;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 1px;
    color: white;
    padding: 10px 30px;
    text-transform: capitalize;
    border: 2px solid $button-color;
    transition: all 1s ease;
    &:hover {
        background-color: $highlight;
        color: $lowlight;
    }
}