header.contact {
    height: 60vh;
    background: url(../assets/contact-header-1.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    .nav-container {
        width: 100%;
        padding: 5px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    nav {
        margin-top: 0;
    }
    h1 {
        font-family: $heading-font;
        @include font-size(80);
        font-weight: 600;
        line-height: 92px;
        color: $highlight;
        padding: 0;
        margin-bottom: 40px;
        width: 25%;
    }
    .home a {
        color: $light;
        &:visited {
            color: $button-color;
        }
        &:hover {
            color: $highlight;
        } 
        &:focus {
            color: $highlight;
        }
    }
    .contact a {
        color: $highlight;
    }
    .contact-wrapper {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
    h2 {
        flex: 0 0 25%;
        padding: 5px 0;
        a {
            color: white;
            &:focus {
                color: $highlight;
            }
            &:hover {
                color: white;
            }
            &:active {
                color: $highlight;
            }
        }
    }
}

.home a {
    color: $light; 
}

.blog a {
    color: $light;
    &:visited {
        color: $button-color;
    }
    &:hover {
        color: $highlight;
    }
    &:focus {
        color: $highlight;
    }
    
}