section.founder {
    background-color: $light;
    .flower-container {
        width: 100%;
        height: 500px;
        background: url(../assets/banner-image.jpg) no-repeat center center;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }
    .founder-image-container {
        flex: 0 0 25%;
        box-shadow: 25px 25px $highlight;
    }
    .founder-text {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button {
            align-self: flex-start;
        }
    }
    h2 {
        @include font-size(42);
        letter-spacing: 1px;
        font-weight: 600;
    }
}