.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

html {
    font-size: 125%;
}

h1, h2, h3, h4, ul, li {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}