.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

html {
    font-size: 125%;
    font-family: $base-font;
    color: $dark;
}

h1, h2, h3, h4, ul, li {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: $light;
    &:hover {
        color: $highlight;
    }
    &:visited {
        color: $light;
    }
    &:focus {
        color: $highlight;
    }
    &:active {
        color: $highlight;
    }
}

p {
    line-height: 32px;
}